* {
  margin: 0;
  padding: 0;
}

#scroll {
  height: 4px;
  background-color: rgb(11, 216, 56);
  position: fixed;
}

.gray {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.blue {
  width: 100%;
  background-color: rgb(216, 216, 216);
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
